.home h2 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #111c24;
}

.countdown-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.countdown-form label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.countdown-form span {
    font-weight: bold;
    color: #111c24;
}

.countdown-form input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.countdown-form input[type="color"] {
    padding: 2px;
}

.countdown-form input[type="date"] {
    color: #aaa;
}

.countdown-form input[type="submit"] {
    background-color: #111c24;
    color: #aaa;
    font-weight: bold;
    width: 120px;
    padding: 0.8rem;
    cursor: pointer;
    transition: .4s;
}

.countdown-form input[type="submit"]:hover {
    opacity: .9;
}