.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.counter-number {
    background-color: #111c24;
    color: #ffff;
    padding: 1rem;
    border-radius: .7rem;
    font-size: 4rem;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
}

.counter-text {
    color: #111c24;
    font-size: 1.2rem;
    font-weight: bold;
}